<form name="container-form"  class="mt-4" method="post" action="/courses/handle-form-actions">
  <div class="">
    <h3>Khóa học của tôi</h3>
    <a href="/me/trash/courses" class="">Thùng rác ({{deletedCount}})</a>
    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>
      <select class="form-control form-control-sm checkbox-select-all-options" name="action" id="inlineFormCustomSelect" required>
        <option value="" selected>Chọn hành động...</option>
        <option value="delete">Xóa</option>
      </select>
      <button class="btn btn-primary btn-sm check-all-submit-btn disabled">Áp dụng</button>
    </div>
    
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">
          Tên khóa học 
          {{{sortable "name" _sort}}}
        </th>
        <th scope="col">
          Thời gian tạo
          {{{sortable "createdAt" _sort}}}
        </th>
        <th scope="col">
          Thao tác
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
            </div>
          </th>
          <th scope="row" class="d-flex justify-content-between">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
            <a
              href=""
              class="btn btn-link"
              data-toggle="modal"
              data-target="#delete-course-modal"
              data-id="{{this._id}}"
            >Xóa</a>
          </td>
        </tr>
      {{else}}
        <td>
          <td colspan="5" class="text-center">Bạn chưa đăng khóa học nào.
            <a href="/courses/create" class="">Đăng khóa học</a>
          </td>
        </td>
      {{/each}}
    </tbody>
  </table>
</form>

<!-- Confirm delate course -->

<!-- Modal -->
<div
  class="modal fade"
  id="delete-course-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa khóa học này
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Hủy</button>
        <button type="button" id="btn-delete-course" class="btn btn-danger">Xóa
          khóa học</button>
      </div>
    </div>
  </div>
</div>


<!-- Form ẩn để delete -->
<form method="post" name="delete-form">
</form>

<script>
  // submit form ẩn
  document.addEventListener("DOMContentLoaded", function (event) { 
    var courseID;
    var deleteForm = document.forms['delete-form']; 
    var btnDeleteCourse = document.getElementById("btn-delete-course");
    // when dialog confirm button is clicked
    $("#delete-course-modal").on("show.bs.modal", function (event) { 
      var button = $(event.relatedTarget);
      courseID = button.data("id"); 
    });
    // change action of form related to courseID then submit
    btnDeleteCourse.onclick = function() { 
      deleteForm.action="/courses/" + courseID + "?_method=DELETE"; 
      deleteForm.submit() 
    } 

    // handle checkbox-all
    var checkboxAll = $("#checkbox-all");
    var courseItemCheckbox = $("input[name='courseIds[]']");
    var checkAllSubmitBtn = $(".check-all-submit-btn")
    var containerForm = document.forms["container-form"]
    var jqueryContainerForm = $("form[name='container-form']")
    // checkbox-all changed
    checkboxAll.change(function() {
      var isCheckedAll = $(this).prop('checked');
      courseItemCheckbox.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn();
    })
    
    // Course item checkbox changed
    courseItemCheckbox.change(function() {
      var isCheckedAll = courseItemCheckbox.length === $("input[name='courseIds[]']:checked").length;
      checkboxAll.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn();
    })
    renderCheckAllSubmitBtn();

    // checkAllSubmitBtn click event
    jqueryContainerForm.on("submit", function(e) {
      var isSubmitable =  !checkAllSubmitBtn.hasClass('disabled');
      if (!isSubmitable) {
        e.preventDefault();
      }
    })

    // change disables state of submit button
    function renderCheckAllSubmitBtn() {
      var checkedCount = $("input[name='courseIds[]']:checked").length;
      if (checkedCount) {
        checkAllSubmitBtn.removeClass("disabled");
      } else {
        checkAllSubmitBtn.addClass("disabled");
      }
    }
});

</script>